@import "~react-image-gallery/styles/scss/image-gallery.scss";


.projBox {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}

.textContainer {
  padding: 20px;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.imagesContainer {
  width: 60%;
}

.imageBox {
  width: 100%;
}

.image {
  max-width: 100%;
}

.projCont {
  margin: 20px 0;
}

.boldProj {
  font-weight: bold;
  font-size: 20px;
}

.titleProj {
  font-weight: bold;
  font-size: 25px;
}

.subtitleProj {
  font-style: italic;
}